
h1,h3{ 
    text-align: center;
}
h3{
    color: #ff1d1d;
}

body{
    display: flex;
}
.im{
    align-self: center;
    background-color: #000;
    display: flex;
    text-align: center;
}

img{
    
    height: 150px;
}

p{
    font-size: 14pt;
}
#lat2{
    text-align: right;
}

#lat3{
    text-align: center;
}

#lat5{
    text-align: right;
}

.wt{
    color: #FFFFFF;
}

.dk{
    color: #000;
}

.yl{
    color: #FFA500;
}
#en, #en2{
    transform: translateY(40px);
}

#en2{
    text-align: center;
    text-decoration: underline;
    
}

