<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Layout 3/layout 3.css">
</head>
<body>
    <header>
        <a href="#" id="logo">LOGO</a>
        <nav>
            menu
            <a href="#">Inicio</a>
            <a href="#">Produtos</a>
            <a href="#">Sobre</a>
            <a href="#">Contacto</a>
        </nav>
    </header>
    
    <main>Principal</main>
    <aside>Relacionado</aside>
    <footer>rodape</footer>
    
</body>
</html>